@keyframes expandItems {
    from {
        gap: 5px;
    }
    to {
        gap: 64px;
    }
}

@keyframes sparkle {
    0%, 20%, 100% {
        transform: scale(0);
    }
    50%, 70% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.3);
    }
}

@keyframes shakey {
    0%, 30%, 70%, 100% {
        transform: rotate(0deg);
    }
    42% {
        transform: rotate(15deg);
    }
    58% {
        transform: rotate(-15deg);
    }
}

.sparkle {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.8);
    pointer-events: none;
    animation: sparkle 2.5s ease-out forwards;
    isolation: isolate;
    z-index: 10000;
  }

.sparkle1 {
    pointer-events: none;
    animation: sparkle 1.5s ease-out forwards;
}

.sparkle2 {
    pointer-events: none;
    animation: sparkle 1.5s ease-out 1s forwards;
}

.sparkle3 {
    pointer-events: none;
    animation: sparkle 1.5s ease-out 1.5s forwards;
}

.sparkle-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

.shake {
    animation: shakey 3s ease-out infinite;
}