.grid-things {
    max-width: 1028px;
    min-width: 1028px;
}

.grid-things > * {
    /* position: relative; */
    /* max-width: 270px;
    max-height: 480px; */
    width: 300px; 
    height: 420px;
    /* border-color: blue; */
    /* border-width: 1px; */
}