.new-cursor {
    position: fixed;
    border: 2px solid var(--tertiary-color);
    border-radius: 50%;
    mix-blend-mode: screen;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 999999 !important;
    backdrop-filter: blur(1px);
    background-color: var(--tertiary-color);
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    cursor: none !important; /* hiding original cursor */
}

@media screen and (max-width: 768px) {
    .new-cursor {
        width: 0;
        height: 0;
        transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
        opacity 0.2s ease-in-out;
    }
}

.new-cursor.pointer {
    opacity: 0 !important;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out;
}