/* the format of each pages */

.page-container {
    padding-top: 36px;
    width: 1028px;
    flex-shrink: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.grid-things {
    max-width: 1028px;
    min-width: 1028px;
}

.grid-things > * {
    /* position: relative; */
    /* max-width: 270px;
    max-height: 480px; */
    width: 300px; 
    height: 420px;
    /* border-color: blue; */
    /* border-width: 1px; */
}

.polaroid-frame {
    border-bottom: 67px solid white;
    border-top: 15px solid white;
    border-right: 15px solid white;
    border-left: 15px solid white;
    top: 15px; 
    left: 15px; 
    right: 15px; 
    bottom: 67px;
    top: 0;
    left: 0;
}

.timeline-item {
    width: 100%;
    border-radius: 7px;
    position: absolute;
    padding: 12px;
    padding-top: 5px;
    transition: transform 0.2s;
}

.timeline-item:hover {
    z-index: 40;
    transform: scale(1.1);
}

.picture {
    position: absolute;
    z-index: 100;
    width: 220px;
    height: 380px;
    transition: transform 0.3s;
}

.picture:hover {
    transform: rotate(0deg) !important;
}

#pic-0 {
    transform: rotate(-10deg);
    top: 20px;
    left: -40px;
}

#pic-1 {
    transform: rotate(10deg);
    top: 10px;
    left: 345px;
}

#pic-2 {
    transform: rotate(-15deg);
    top: 25px;
    left: 750px;
}

#pic-3 {
    transform: rotate(6deg);
    top: 340px;
    left: 160px;
}

#pic-4 {
    transform: rotate(-5deg);
    top: 340px;
    left: 560px;
}

