/* the format of each pages */

.page-container {
    padding-top: 1.5vh;
    padding-left: 6.3vw;
    padding-right: 6.3vw;
    width: 87.4vw;
    margin: 0 auto;
    min-width: 800px;
}

@media only screen and (max-width: 600px) {
    .page-container {
        width: 100vw; 
        height: 100vh;
      }
}

@media only screen and (max-height: 600px) and (orientation: landscape) {
    .page-container {
        width: 87.4vw;
        margin: 0 auto;
    }
}

.aspect-16-9 {
    max-width: 1028px;
    min-width: 1028px;
}

/* @media (max-width: 600px) {
    .aspect-16-9 {
        background-color: bisque;
    }
} */

.aspect-16-9 > * {
    /* position: relative; */
    /* max-width: 270px;
    max-height: 480px; */
    width: 300px; 
    height: 480px;
    /* border-color: blue; */
    /* border-width: 1px; */
}

.polaroid-frame {
    border-bottom: 67px solid white;
    border-top: 15px solid white;
    border-right: 15px solid white;
    border-left: 15px solid white;
    top: 15px; 
    left: 15px; 
    right: 15px; 
    bottom: 67px;
    top: 0;
    left: 0;
}

