@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* default color palette is light theme */
  --foreground-color: #3D4927;
  --background-color: #F1E7D3;
  --secondary-color: #8B916E;
  --tertiary-color: #F3CC4A;
}

body {
  color: var(--foreground-color-d);
  background-color: var(--background-color-d);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


[data-theme="dark"] {
  --foreground-color: #F1E7D3;
  --background-color: #3D4927;
  --secondary-color: #BE8209;
  --tertiary-color: #F3CC4A;
}

[data-theme="light"] {
  --foreground-color: #3D4927;
  --background-color: #F1E7D3;
  --secondary-color: #8B916E;
  --tertiary-color: #F3CC4A;
}