@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* default color palette is light theme */
  --foreground-color: #3D4927;
  --midground-color1: #6e7a4d;
  --midground-color2: #aeb57e;
  --background-color: #F1E7D3;
  --secondary-color: #958B57;
  --tertiary-color: #F3CC4A;

  /* art page colors */
  --art-color1: #d4bdf0;
  --art-color2: #FAE18F;
  --art-color3: #F7BABF;
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
}

.button {
  @apply text-th-foreground hover:text-th-secondary transition-colors duration-500 cursor-pointer;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

[data-theme="dark"] {
  --foreground-color: #F1E7D3;
  --midground-color1: #6e7a4d;
  --midground-color2: #aeb57e;
  --background-color: #3D4927;
  --secondary-color: #b67f13;
  --tertiary-color: #F3CC4A;

  /* art page colors */
  --art-color1: #584681;
  --art-color2: #67692b;
  --art-color3: #76414e;
}

[data-theme="light"] {
  --foreground-color: #3D4927;
  --midground-color1: #a9ba7a;
  --midground-color2: #899251;
  --background-color: #F1E7D3;
  --secondary-color: #958B57;
  --tertiary-color: #F3CC4A;

  /* art page colors */
  --art-color1: #d4bdf0;
  --art-color2: #FAE18F;
  --art-color3: #F7BABF;
}

@layer components {
  .intro-section {
    @apply flex flex-row justify-center items-center h-screen;
  }

  .intro-text {
    @apply flex flex-col justify-center;
  }

  .intro-paragraph {
    @apply pt-4 mr-12 mt-6;
  }

  .portrait-section {
    @apply max-w-80 w-full h-full mt-14 hidden lg:block;
  }

  .four-leaves-clover {
    @apply w-80 h-80 bg-th-foreground hidden lg:block;
  }

  .more-section {
    @apply flex h-screen bg-th-midground2;
  }
}