.contact-section {
    @apply flex flex-row absolute mt-[200vh] justify-center items-end w-full h-12 text-5xl transition-all duration-500 ml-[59px];
}

.contact-section:hover {
    @apply cursor-pointer justify-center;
}

.contact-section.expanded {
    @apply ml-0;
}

.contact-icons-container {
    @apply justify-center self-center gap-6 ml-4 h-10 transition-all duration-500 grid place-content-center grid-cols-3;
}

.period {
    @apply text-th-foreground self-end transition-all duration-300 opacity-100;
    width: 25px;
    height: 25px;
    height: 25px;
    grid-area: 1/1;
}

.period.hovered {
    width: 35px;
    height: 35px;
    opacity: 1; 
}

.period.expanded {
    width: 35px;
    height: 35px;
    opacity: 0; 
}

.contact-icon {
    pointer-events: none;
    opacity: 0;
    grid-area: 1/1;
    transition: all 0.3s ease-in-out;
}

.contact-icon.expanded {
    pointer-events: all;
    opacity: 1;
}

.github-icon {
    grid-area: 1/1;
}

.linkedin-icon {
    grid-area: 1/2;
    transform: translateX(-59px);
}

.gmail-icon {
    grid-area: 1/3;
    transform: translateX(-118px);
}

.linkedin-icon.expanded {
    transform: translateX(0px);
    transition: transform 0.3s ease-in-out;
}

.gmail-icon.expanded {
    transform: translateX(0px);
    transition: transform 0.3s ease-in-out;
}