/* the format of each pages */

.page-container {
    padding-top: 1.5vh;
    padding-left: 6.3vw;
    padding-right: 6.3vw;
    width: 87.4vw;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .page-container {
        width: 100vw; 
        height: 100vh;
      }
}

@media only screen and (max-height: 600px) and (orientation: landscape) {
    .page-container {
        width: 87.4vw;
        margin: 0 auto;
    }
}

.aspect-16-9 > * {
    position: relative;
    width: 20vw; 
    height: calc(20vw * 16 / 9);
}